@page
@model MyNotebook.Pages.Categories.IndexModel
@{
}

<br />

<div class="container">
    <div class="col-10">
        <h2>Category list</h2>
    </div>
    <div class="col-2">
        <a asp-page="Create" class="btn my-btn">Create Category</a>
    </div>

    <div class="categories-section">
        <form method="post">
          
            @if(Model.Categories.Count > 0)
            {
               
               @foreach (var category in Model.Categories)
               {
                    <div class="category">
                        <div class="category-title">
                            <div>
                                 <h1>@category.Title</h1>
                                    <p>@category.Description</p>
                              </div>
                               <div class="category-buttons">
                                   <a asp-page="Edit" asp-route-id="@category.Id" class="btn my-btn">Edit category</a>
                                   <button asp-page-handler="Delete category" asp-route-id="@category.Id" onclick="return confirm('Are you sure?')" class="btn danger my-btn">Delete</button>
                              </div>
                          </div>
                         </div>
               } 
            }
            else{
                 <p>No notes yet</p>
            }
        </form>
    </div>
</div>