*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
}
.container{
    margin: 0 auto;
}

.login{
    padding-top: 50px;
    width: 500px;
    margin: 0 auto;
   
}
.login a{
    text-decoration: none;
    color: rgb(25, 22, 23);
}
.register-section{
    margin-top: 20px;
}
.register-section p{
    text-align: center;
}

.search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.search form{
    display: flex;
    justify-content: space-between;
}
.my-btn {
    padding: 7px 22px;
    background-color: rgb(133, 153, 200);
    border-color: rgb(133, 153, 200, 0.91);
}
.danger {
    padding: 7px 22px;
    background-color: rgb(209, 41, 41);
    border-color: rgb(233, 38, 38);

}
    .my-btn:hover {
        background-color: rgb(99, 91, 94);
        border-color: rgb(99, 91, 94);
    }
.danger:hover {
    background-color: rgb(169, 44, 44);
    border-color: rgb(169, 44, 44);
}

.categories-section {
    min-width: 800px;
    min-height: 600px;
    justify-content: space-between;
    margin-top: 20px;
}
.category-title {
    display: flex;
    margin-top: 15px;
    background-color: rgb(153, 219, 163);
    justify-content: space-between;
    border-radius: 8px;
}
.category-title h1{
    font-weight: 600;
    font-size: 20px;
}
.category-title p {
    font-size: 17px;
}
.category-buttons{
    margin-top:15px;
    margin-right: 15px;
}

.notes-board {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.note {
    display: inline block;
    background-color: rgb(214, 230, 199);
    border-radius: 5px;
    min-width:300px;
    margin: 8px 8px;
}
.note h1{
    font-size: 14px;
}
    .note h3 {
    }

.note-buttons{
    text-align: right;
    margin-right: 5px;
    margin-bottom:5px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

