@page
@model MyNotebook.Pages.Notebook.IndexModel
@{
}

@* <div>
        <p>
            <form>
                Title: <input type="text" asp-for=SearchInputTitle />
                <select asp-items="Model.Categories" asp-for="SelectedCategoryName">
                    <option value="">Select author</option>
                    <option value="Create">Create author</option>
                </select>
                <input type="submit" value="Search" />
            </form>
        </p> 
    </div>*@